* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

button {
  text-align: center;
  color: black;
  background-color: yellow;
  align-items: center;
}

.navbar {
  text-align: center;
  justify-content: space-between;
  display: block;
}

.form {
  margin: 0 auto;
  width: 250px;
}
.form {
  text-align: center;
}

.product {
  display: inline-block;
}

.vid {
  align-self: center;
}
